---
import Layout from '../layouts/Base.astro';
---

<Layout
	title="About"
	description="Lorem ipsum dolor sit amet"
	image="/blog-placeholder-about.jpg"
>
	<section>
		<h1 class="title">About</h1>
		<p>
			Want to use assets from h*yo's lovely anime game? Well you've come to the right place!
		</p>
	</section>

	<section class="mt-8">
		<h2 class="title mt-4">We offer the means for you to get your own assets from the game!</h2>
		<div>
			<p>
				Here's what you can do with our apps:
			</p>
			<ul class="list-inside list-disc">
				<li><a class="cody-link" 
					href="https://github.com/RazTools/Studio"
					target="_blank"
					>Baixiao</a>: Download Game Files and Live resources directly from h*yo.</li>

				<li><a class="cody-link" 
					href="https://github.com/RazTools/Studio"
					target="_blank"
					>Baiwen</a>: Parse the .map/.json files from <a class="cody-link" href="https://github.com/RazTools/Studio">Hoyostudio</a>.</li>

				<li><a class="cody-link" 
					href="https://github.com/RazTools/Studio"
					target="_blank"
					>Baishi</a>: Extract the assets and organize them in a neat way.</li>
				<br>
				<li>All of that in an easy and foolproof manner!</li>
			</ul>
		</div>
	</section>

	<section class="mt-8">	
		<h2 class="title mt-4">And if that isn't for you...</h2>
		<div>
			<p>
				We offer pre-extracted assets, straight from the game, so you can skip the hassle of extracting them yourself!
			</p>
			<ul class="list-inside list-disc">
				<li><a class="cody-link" 
					href="https://github.com/jade-chamber/anime-game-assets/Characters/README.md"
					target="_blank"
					>Characters</a>: Playable and Non-Playable Characters</li>

				<li><a class="cody-link" 
					href="https://github.com/jade-chamber/anime-game-assets/Weapons/README.md"
					target="_blank"
					>Weapons</a>: Swords, Claymores, Polearms, Bows and Catalysts</li>

				<li><a class="cody-link" 
					href="https://github.com/jade-chamber/anime-game-assets/Monsters/README.md"
					target="_blank"
					>Monsters</a>: Normal, Elite and Boss Monsters</li>

				<li><a class="cody-link" 
					href="https://github.com/jade-chamber/anime-game-assets/Environment/README.md"
					target="_blank"
					>Environment</a>: Teapot, World and Dungeon Models</li>
				<li><a class="cody-link" 
					href="https://github.com/jade-chamber/anime-game-assets/Misc/README.md"
					target="_blank"
					>Misc</a>: Didn't fit in the other categories and didn't deserve its own category</li>

			</ul>
		</div>
	</section>
</Layout>

